<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rate Hotel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Create Hotel</h1>
        <form th:action="@{/create}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Userid">User ID:</label>
                <input type="text" class="form-control" th:field="*{hotel.Userid}" placeholder="Enter User ID" required>
            </div>
            <div class="form-group">
                <label for="hotelname">Hotel Name:</label>
                <input type="text" th:field="*{hotel.hotelname}" placeholder="hotelname" required>
            </div>
            <div class="form-group">
                <label for="hotelname">Hotel date:</label>
                <input type="date" th:field="*{hotel.hoteldate}" placeholder="hotelname" required>
            </div>
            <div class="form-group">
                <label for="hotellocation">Location:</label>
                <input type="text" th:field="*{hotel.hotellocation}" placeholder="hotellocation" required>
            </div>
            <div class="form-group">
                <label for="about">About:</label>
                <textarea class="form-control"  rows="3" th:field="*{hotel.about}" placeholder="about" required></textarea>
            </div>
            <div class="form-group">
                <label for="video">Video:</label>
                <input type="file" class="form-control-file" th:field="*{hotel.hotelvideo}" accept="video/*" required>
            </div>
           
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>