<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Hotel List</title>
</head>
<body>
    <p>Welcome, <span th:text="${username}"></span>!</p>
    <a th:href="${userserviceUrl}">Login</a>
    <h1>Hotel List</h1>
    <table>
        <thead>
            <tr>
                
                <th>Hotel Video</th>
                <th>Hotel date</th>
                <th>Name</th>
                <th>Location</th>
                <th>About</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over the list of hotels -->
            <tr th:each="hotel : ${hotels}">
                <td>
                    <video width="320" height="240" controls>
                        <source th:src="@{/videos/{filename}(filename=${hotel.hotelVideoPath})}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    
                </td>
                <td th:text="${hotel.hoteldate}"></td>
                <td th:text="${hotel.hotelname}"></td>
                <td th:text="${hotel.hotellocation}"></td>
                <td th:text="${hotel.about}"></td>
                <td>
                    <a th:href="@{/update/{hotelid}(hotelid=${hotel.hotelid})}">Update</a>
                    <a th:href="@{/delete/{hotelid}(hotelid=${hotel.hotelid})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/create">Add New Hotel</a>
</body>
</html>