<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Update Hotel</title>
</head>
<body>
    <h1>Update Hotel</h1>
    <form action="/update" method="post">
        <input type="hidden" name="hotelid" th:value="${hotel.hotelid}" />
        <label for="hotelimg">Hotel Image:</label>
        <input type="text" id="hotelimg" name="hotelimg" th:value="${hotel.hotelimg}" required><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${hotel.hotelname}" required><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" th:value="${hotel.hotellocation}" required><br>
        <label for="about">About:</label>
        <input type="text" id="about" name="about" th:value="${hotel.about}" required><br>
        <input type="submit" value="Update">
    </form>
    <a href="/">Back to Hotel List</a>
</body>
</html>