<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Update Hotel</title>
</head>
<body>
    <h1>Update Hotel</h1>
    <form th:action="@{/update/{hotelid}(hotelid=${hotel.hotelid})}" method="post">
        <input type="hidden" name="hotelid" th:value="${hotel.hotelid}" />
        <label for="hotelimg">Hotel Image:</label>
        <video width="320" height="240" controls>
            <source th:src="@{/videos/{filename}(filename=${hotel.hotelVideoPath})}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <label for="name">Date:</label>
        <input type="date" id="hoteldate" name="hoteldate" th:value="${hotel.hoteldate}" required><br>
        <label for="name">Name:</label>
        <input type="text" id="hotelname" name="hotelname" th:value="${hotel.hotelname}" required><br>
        <label for="location">Location:</label>
        <input type="text" id="hotellocation" name="hotellocation" th:value="${hotel.hotellocation}" required><br>
        <label for="about">About:</label>
        <input type="text" id="about" name="about" th:value="${hotel.about}" required><br>
        <input type="submit" value="Update">
    </form>
    <a href="/">Back to Hotel List</a>
</body>
</html>